 /* Sign up page style */

 /* body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    padding: 0 10px;
  } 
  
  body::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("https://www.codingnepalweb.com/demos/create-glassmorphism-login-form-html-css/hero-bg.jpg"), #D9D9D9;
    background-position: center;
    background-size: cover;
  }  */
  
  .wrapperar {
    width: 480px;
    border-radius: 8px;
    padding: 30px;
    text-align: center;
    border: 1px solid #000000;
    background-color: white;
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #000000;
  }
  
  .input-field {
    position: relative;
    border-bottom: 2px solid #ccc;
    margin: 15px 0;
  }
  
  .input-field label {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    color: #000000;
    font-size: 16px;
    pointer-events: none;
    transition: 0.15s ease;
  }
  
  .input-field input {
    width: 100%;
    height: 40px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: #000000;
  }
  
  .input-field input:focus~label,
  .input-field input:valid~label {
    font-size: 0.8rem;
    top: 10px;
    transform: translateY(-120%);
  }
  
  .forget {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 25px 0 35px 0;
    color: #000000;
  }
  
  #remember {
    accent-color: blue;
  }
  
  .forget label {
    display: flex;
    align-items: center;
  }
  
  .forget label p {
    margin-left: 8px;
  }
  
  .wrapperar a {
    color: blue;
    text-decoration: none;
  }
  
  .wrapperar a:hover {
    text-decoration: underline;
  }
  
  button {
    background: #E34716;
    color: white;
    font-weight: 600;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    border-radius: 40px;
    font-size: 16px;
    border: 2px solid transparent;
    transition: 0.3s ease;
  }
  button:hover {
    color: #000000;
    border-color: #E34716;
    background: E34716;
  }
  
  .register {
    text-align: center;
    margin-top: 30px;
    color: #000000;
  }
  .form-cntainer{
    width: 40%;
    margin: 0 auto;
  }