* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: inherit;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: rgb(248, 248, 248);
  margin-top: 80px;
}
nav {
  background-color: white;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5%;
  box-shadow: 2px 0px 8px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
nav .web-logo {
  font-size: 24px;
  font-weight: 600;
  cursor: pointer;
}
nav .web-logo span {
  color: crimson;
}
nav ul {
  display: flex;
  gap: 15px;
}
.menu-list {
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
}
.menu-list::after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background-color: crimson;
  transition: 0.3s ease-in-out;
}
.menu-list:hover::after {
  width: 100%;
}

.menu {
  display: none;
}

.bar-icon {
  border-radius: 6px;
  display: flex;
  padding: 8px 15px;
  border: none;
  border: 1px solid white;
  background-color: #e34716;
  color: white;
}

nav .desktop-menu {
  display: flex;
  gap: 10px;
}
.logindesign button {
  background-color: #e34716;
  border-radius: 12%;
  margin-left: 100%;
}

/* end */

/* hero section  */
.hero {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.welcome-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  gap: 10px;
  width: 90%;
}
.welcome-left-side img {
  width: 100%;
}
.welcome-right-side {
  background-color: rgb(255, 255, 255);
  padding: 20px;
}
.welcome-right-side h2,
.paragraph-h {
  text-align: center;
  padding: 10px 0;
}
.paragraph {
  display: flex;
  justify-content: center;
  align-items: center;
}
.welcome-right-side p {
  width: 70%;
  padding: 20px 0;
  letter-spacing: 2px;
}
.find-more {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}
.find-more button {
  border: none;
  padding: 14px 40px;
  background-color: crimson;
  border-radius: 10px;
  color: #ffffff;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.foto {
  height: 300px;
  overflow: hidden;
}
.foto img {
  aspect-ratio: 1/1;
}
.grid-container {
  padding: 20px 5%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 10px;
  row-gap: 20px;
}

.grid-containerr {
  background-color: aliceblue;
  padding: 20px 40px;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 30px;
  width: 100%;
}

.card {
  background-color: rgb(255, 255, 254);
  display: flex;
  flex-direction: column;
}
.card .box-body {
  padding: 14px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.box-content p {
  line-height: normal;
  font-size: 16px;
  font-weight: 400;
  word-spacing: 2px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
.box-footer {
  padding: 14px;
  display: flex;
  justify-content: center;
}
.views {
  display: flex;
  justify-content: center;
}

/* about family */
.main-h {
  padding: 14px;
}
.follow-me {
  text-align: center;
  font-style: italic;
  padding: 14px;
}
.main-iconn {
  display: flex;
  gap: 10px;
  padding: 14px;
  background-color: rgb(248, 248, 248);
}
.home-para p {
  padding: 30px;
}
.long-para p {
  text-align: center;
}

/* about page */
.about-title {
  font-size: 12px;
  text-align: center;
  margin: 14px;
  background-color: white;
}
.main-about {
  display: flex;
  gap: 10px;
  padding: 20px;
}
.col1 {
  flex-basis: 30%;
}
.col2 {
  flex-basis: 70%;
  display: flex;
  align-items: center;
}
.col2-paragraphy {
  line-height: 1.6;
  color: #242424;
  font-size: medium;
  margin: 14px;
  font-style: inherit;
}
.col1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.aboutpic {
  width: 230px;
  height: 230px;
  margin: 14px;
}
.aboutpic img {
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden;
}
.about-icon {
  font-size: 24px;
  margin-right: 8px;
}

/* contact page style */
::selection {
  color: #000000;
}

.wrapper-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: 60%;
  border-radius: 8px;
  padding: 30px;
  text-align: center;
  border: 1px solid #000000;
  background-color: white;
  backdrop-filter: blur(9px);
}
.wrapper header {
  font-size: 22px;
  font-weight: 600;
  padding: 20px 30px 40px 80px;
  border-bottom: 1px solid #ccc;
}
.wrapper form {
  margin: 35px 30px;
}
.wrapper form.disabled {
  pointer-events: none;
  opacity: 0.7;
}
*/ form .dbl-field {
  display: flex;
  margin-bottom: 25px;
  justify-content: space-between;
}
.dbl-field .field {
  height: 50px;
  display: flex;
  position: relative;
  /* width: calc(100% / 2 - 13px); */
  width: 100%;
  /* gap: 10px; */
  padding-bottom: 1rem;
}
.wrapper form i {
  position: absolute;
  top: 50%;
  left: 18px;
  color: #000000;
  font-size: 17px;
  pointer-events: none;
  transform: translateY(-50%);
}
form .field input,
form .message textarea {
  width: 100%;
  height: 100%;
  outline: none;
  padding: 0 18px 0 48px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #000000;
}
.field input::placeholder,
.message textarea::placeholder {
  color: #000000;
}
.field input:focus,
.message textarea:focus {
  padding-left: 47px;
  border: 2px solid #000000;
}
.field input:focus ~ i,
.message textarea:focus ~ i {
  color: #000000;
}
form .message {
  position: relative;
}
form .message i {
  top: 30px;
  font-size: 20px;
}
form .message textarea {
  min-height: 130px;
  max-height: 230px;
  max-width: 100%;
  min-width: 100%;
  padding: 15px 20px 0 48px;
}
form .message textarea::-webkit-scrollbar {
  width: 0px;
}
.message textarea:focus {
  padding-top: 14px;
}
form .button-area {
  margin: 25px 0;
  display: flex;
  align-items: center;
}
.button-area button {
  color: #fff;
  border: none;
  outline: none;
  font-size: 18px;
  cursor: pointer;
  border-radius: 20px;
  padding: 13px 25px;
  background: crimson;
}
.button-area button:hover {
  background: crimson;
}
.button-area span {
  font-size: 17px;
  margin-left: 30px;
  display: none;
}
.contact-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Dashbord style */
.maindashbord {
  display: flex;
  margin: 120px;
  justify-content: center;
}
.main-dashbord {
  background-color: white;
  padding: 24px;
  border-radius: 4px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
  transition: 0.3s ease-in-out;
}
.main-dashbord:hover {
  transform: scale(1.1);
}
.main-dashbord h1 {
  padding-left: 90px;
}
.input-dashbord input {
  display: flex;
  width: 100%;
  height: 50px;
  margin-bottom: 1rem;
}
.choose {
  margin-left: 50px;
}

/* Edit and delete blogs style */
.edit-blogs {
  display: flex;
  padding: 8px 15px;
  border: none;
  border: 1px solid white;
  background-color: crimson;
  color: white;
  border-radius: 1rem;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 90px;
}
.grid-containerr {
  background-color: aliceblue;
  padding: 20px 40px;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 30px;
  width: 100%;
}
.foto {
  width: 100%;
}
.add-new {
  justify-content: center;
  margin-left: 50px;
  background-color: white;
}

.card-footer {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.card-body h4 {
  padding: 20px;
}
.card-body p {
  padding: 10px;
  text-overflow: ellipsis;
  /* display: -webkit-box; 
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical; */
}

/* comment style */

.all-in-comment {
  margin: 70px;
  margin-bottom: 5px;
}
.comment-pic {
  display: flex;
  gap: 30px;
}
.comment-image img {
  width: 600px;
  height: 450px;
}
.paragraph-in-comment p {
  font-family: "Times New Roman", Times, serif;
  font-size: medium;
  font-weight: bold;
  padding: 10px;
  gap: 10px;
  margin: auto;
}

.comment-page {
  display: flex;
  gap: 20px;
  padding: 10px;
}
.main h2 {
  font-size: large;
  font-weight: bold;
  font-style: italic;
  display: flex;
  align-items: center;
}
.main form {
  width: 100%;
  height: 100%;
}
.addcommenthere {
  align-items: center;
}
.imagecomment {
  width: 50px;
  height: 50px;
}
.imagecomment img {
  border-radius: 30px;
  background-color: crimson;
  border: 10px;
}
.addcommenthere textarea {
  box-sizing: border-box;
  height: fit-content;
  width: 800px;
}
.send-buttonn button {
  width: 800px;
}
/* login modal */
.modal-container {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: aliceblue;
  top: 0;
}
.modalBtn {
  width: fit-content;
  padding: 0.2rem 0.3rem;
  border: none;
  outline: none;
  cursor: pointer;
  color: aliceblue;
  border-radius: 0.5rem;
  position: absolute;
  margin-top: -30rem;
  margin-right: -70rem;
  background-color: brown;
}
.m-icon {
  font-weight: 800;
  font-size: 1.3rem;
}

/* CSS for the delete confirmation dialog */
.delete-confirmation {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 999;
  text-align: center;
  border: 3px solid crimson;
}

.delete-confirmation p {
  font-size: 16px;
  margin-bottom: 10px;
}

.delete-confirmation button {
  background-color: crimson;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.delete-confirmation button:hover {
  background-color: #7f0101;
}

/* footer page */

.container-footer {
  background-color: #000000e8;
  padding: 20px;
  padding-left: 200px;
  padding-right: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.icon-footer {
  color: rgb(245, 241, 241);
  height: 15px;
  border-radius: 20%;
  /* position: absolute; */
  padding: 2px;
  gap: 12px;
}
.top-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: crimson;
}
.title-icon {
  display: flex;
  color: white;
  gap: 10px;
}
.social {
  padding: 10px;
  display: flex;
  gap: 2rem;
}
.bottom-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 10px;
}
.FooterImg {
  position: absolute;
  left: 0;
}
.bottom-footer a {
  text-decoration: none;
  color: rgb(252, 249, 249);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bottom-footer h4 {
  padding-bottom: 18px;
  color: crimson;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu {
  display: none;
}
.allcharts {
  display: flex;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.pie-chart {
  width: 100%;
  height: 400px;
}

/* Resiponsiviness of all page */
@media screen and (max-width: 568px) {
  nav .desktop-menu,
  .login-btn {
    display: none;
  }

  .menu {
    display: block;
  }

  .grid-container {
    grid-template-columns: auto;
    gap: 15px;
  }
  .mobile-menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: fixed;
    right: 0;
    top: 60px;
    background: crimson;
    padding: 20px;
    color: white;
    border-radius: 10px;
  }
  .hidden {
    display: none !important;
  }
}
@media screen and (max-width: 769px) {
  .grid-container {
    grid-template-columns: auto;
  }
  .welcome-container {
    grid-template-columns: repeat(1, 1fr);
  }
  /* responsive to SinglePost page */

  .all-in-comment {
    grid-template-columns: auto;
    gap: 15px;
    margin: 10px;
  }
  .comment-pic {
    display: block;
    gap: 15px;
    margin: 10px;
  }
  .paragraph-in-comment p {
    grid-template-columns: auto;
    flex-wrap: wrap;
  }
  .comment-image img {
    grid-template-columns: auto;
    width: 370px;
    height: 450px;
  }
  .blog-title {
    grid-template-columns: auto;
  }
  .main {
    grid-template-columns: auto;
    width: 50px;
  }
  .addcommenthere textarea {
    width: 300px;
  }
  .send-buttonn button {
    width: 300px;
  }
  .main h2 {
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    height: 10px;
    width: 50%;
  }

  /* Responsive to Blogs page */
  .grid-containerr {
    grid-template-columns: auto;
    gap: 15px;
    grid-template-columns: auto;
  }

  /* responsive to about page */
  .main-about {
    flex-wrap: wrap;
  }
  .col1,
  .col2 {
    flex-basis: 100%;
  }

  /* dashboard Responsive */
  .maindashbord {
    grid-template-columns: auto;
    margin-bottom: 25px;
    margin-top: 20px;
  }
  /* Responsiviness of charts */
  .allcharts {
    display: block;
  }
}

/* responsive to contact page */

@media (max-width: 768px) {
  .wrapper {
    /* width: 800px; */
    border-radius: 8px;
    padding: 30px;
    text-align: center;
    border: 1px solid #000000;
    background-color: white;
    backdrop-filter: blur(9px);
  }
  .wrapper form {
    margin: 0px 0px;
  }

  /* footer section */

  .container-footer {
    background-color: #000000e8;
    padding: 20px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .icon-footer {
    color: rgb(245, 241, 241);
    height: 20px;
    width: 50px;
    border-radius: 20%;
    gap: 2px;
    align-items: center;
  }
  .top-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }
  .social {
    padding: 10px;
    display: flex;
    gap: 10px;
  }
  .bottom-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 5px;
    gap: 2rem;
  }
  .bottom-footer div {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
  }
  .FooterImg {
    position: absolute;
    left: 0;
  }
  .bottom-footer a {
    text-decoration: none;
    color: white;
  }
  .bottom-footer h4 {
    padding: 20px;

    padding-bottom: 0;
    color: crimson;
    font-weight: 300;
  }
}
